* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Comic Neue', sans-serif;
    font-size: 12px;
    color: white;
    background-color: #556655;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Navbar */
.app-bar {
    padding: 8px 16px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar_menu {
    display: flex;
    align-items: center;
}

.app-bar .app-bar_menu button {
    background-color: transparent;
    color: #FFF;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}

.app-bar .app-bar_brand {
    display: flex;
    align-items: center;
}

.app-bar .app-bar_brand a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    user-select: none;
}

.app-bar .app-navbar {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    overflow: hidden;
    background-color: #fff;
}

.app-bar .app-navbar.open {
    left: 0;
}

.app-bar .app-navbar ul li a {
    display: inline-block;
    text-decoration: none;
    color: #556655;
    text-transform: uppercase;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
}

.app-bar .app-navbar ul li a:hover {
    background-color: #FFF;
    color: #556655;
    border-radius: 8px;
}


/* Main content */


main {
    flex: 1;
}

.banner {
    width: 100%;
    position: fixed;
    padding: 20px 0;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 240px;
    height: 100%;
}

.text-container {
    padding: 20px;
    text-align: center;
}

.text-container h1 h2 {
    font-size: 20px;
}

.text-container p {
    text-align: justify;
    font-size: 16px;
}

.banner .banner-container .button-myself {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

.banner .banner-container .button-myself a {
    background-color: #FFF;
    text-decoration: none;
    font-size: 20px;
    color: #556655;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: -3px 4px 3px 1px rgba(0, 0, 0, 0.30);
}




/* 
footer */

footer {
    box-shadow: 0 0 5px 0  rgba(0, 0, 0, 0.2);
    padding: 16px;
}

footer p {
    text-align: center;
    color: #fff;
}


/* 

Responsive style 

*/


@media screen and (min-width: 740px) {
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
    }

    .app-bar .app-bar_menu {
        display: none;
    }

    .app-bar .app-navbar {
        position: static;
        width: 100%;
        background-color: transparent;
    }

    .app-bar .app-navbar ul li {
        display: inline-block;
    }

    .app-bar .app-navbar ul li a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0;
        color: #FFF;
    }

    .banner-container {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .banner-img {
        width: 400px;
        height: 100%;
    }

    .text-container {
        text-align: justify;
    }

    .text-container h1 {
        font-size: 75px;
        font-weight: bold;
    }

    .text-container h2 {
        font-size: 50px;
        font-weight: bold;
    }

    .text-container p {
        font-size: 25px;
    }
}